body{
    background-color: #343A40;
}

form{
    color: white;
    width: 75%;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper_detail{
    
    display: flex;
    justify-content: center;
}